<div ng-include="'components/navbar/navbar.html'"></div>


<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <div class="panel well" ng-if="flight">
        <h3>{{flight.flightData.airline}}</b></h3>
        <h4>Flight number: {{flight.flightData.flightNumber}}</h4>

        <strong>From: </strong><br/>
        {{flight.origin.time}}<br/>
        {{flight.origin.city | uppercase}},{{flight.origin.country | uppercase}}
        <br/><br/>
        <strong>To:</strong><br/>
        <h4>{{flight.destination.time}}</h4>
        {{flight.destination.city | uppercase}},{{flight.destination.country | uppercase}}
      </div>
    </div>
    <div class="col-xs-8">
      <h1>Book ticket</h1>

      <div class="alert alert-success" ng-if="message.status=='success'">{{message.message}}</div>
      <div class="alert alert-danger" ng-if="message.status=='error'">{{message.message}}</div>

      <form id="bookingForm">
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" ng-model="email" id="email" ng-model="email" placeholder="Email" required>
        </div>
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" ng-model="firstName" id="firstName" placeholder="First Name" required>
        </div>

        <div class="form-group">
          <label for="firstName">Last Name</label>
          <input type="text" class="form-control" ng-model="lastName" id="lastName" placeholder="Last Name" required>
        </div>

        <div class="form-group">
          <label for="firstName">Address</label>
          <input type="text" class="form-control" ng-model="address" id="address" placeholder="Address" required>
        </div>


        <button type="submit" ng-click="book()" class="btn btn-primary" ng-hide="message.status=='success'">Book</button>
        <a ui-sref="main" class="btn btn-warning" ng-hide="message.status!='success'">Book another one</a>
        <a ui-sref="main" class="btn btn-default pull-right">Search for different flight</a>
      </form>
    </div>
  </div>
</div>


<footer class="footer">
  <div class="container">
    <p>Boxever assessment</p>
  </div>
</footer>
