<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">

  <div class="row well">
    <form class="form-inline">
      <div class="form-group">
        <label for="origin">From: </label>
        <input type="text" class="form-control" id="origin" ng-model="origin" placeholder="From">
      </div>
      <div class="form-group">
        <label for="destination">Destination: </label>
        <input type="text" class="form-control" id="destination" ng-model="destination" placeholder="Destination">
      </div>
      <button type="submit" ng-click="search()" class="btn btn-primary">Search</button>
    </form>
  </div>

  <div class="alert alert-info" ng-if="!searchMode">
    <i class="fa fa-info-circle"></i> Select destination you would like flight to
  </div>

  <div class="row" ng-if="searchMode">
    <div class="col-lg-12">
      <h1 class="page-header">Flights from {{origin | uppercase}} to {{destination | uppercase}}</h1>

      <div class="panel" ng-repeat="flight in flights">

        <div class="panel-header"><b>{{flight.flightData.airline}}</b>, Flight number: {{flight.flightData.flightNumber}}</div>
        <div class="panel-body">

          <div class="row">
            <div class="col-xs-4 text-center">
              <h4>{{flight.origin.time}}</h4>
              {{flight.origin.city | uppercase}},{{flight.origin.country | uppercase}}
            </div>
            <div class="col-xs-1 text-center">
              <h1><i class="fa fa-arrow-circle-o-right"></i></h1>
            </div>
            <div class="col-xs-4 text-center">
              <h4>{{flight.destination.time}}</h4>
              {{flight.destination.city | uppercase}},{{flight.destination.country | uppercase}}
            </div>
            <div class="col-xs-3 text-center">
              <a ui-sref="bookFlight({flightId: $index})" class="btn btn-success btn-lg">Select</a>
            </div>
          </div>
        </div>
      </div>
      <div class="alert alert-info" ng-if="!flights.length">
        <i class="fa fa-info-circle"></i> Nothing was found
      </div>
    </div>
  </div>
</div>


<footer class="footer">
  <div class="container">
    <p>Boxever assessment</p>
  </div>
</footer>
